*, *:after, *:before {
    box-sizing: content-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: #282c34;
    color: #fff;
}
header {
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 20px;
}

.sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding:0;
    display: flex;
    flex-flow: column nowrap;
}
ul li {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.position-details {
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
}


.side-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

button {
    padding: 15px 40px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin: 0 0 40px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    height: 200px;
}


.ok:after {
    content: "\02705";
    position: relative;
    margin-left: 10px;
    font-size: 0.7em;
}

.not-ok:after {
    content: "\0274C";
    position: relative;
    margin-left: 10px;
    font-size: 0.7em;
}

.ok-face:after {
    content: "\01F60A";
    position: relative;
}

.not-ok-face:after {
    content: "\01F621";
    position: relative;
}

.text-error {
    background: #B03232;
}

.entries {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px;
    width: 100%;
    overflow: scroll;
}

.entries li {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-width: 1000px;
}

pre,
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    display: block;
}


.details {
    font-size: 0.5em;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.entries code {
    width: 200px;
    margin: 0 20px 0 0;
    display: block;
}

code.index-column,
.index-column {
    width: 40px;
}

.details .observation {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    padding: 2px;
}

.observation-test .result {
    padding: 2px;
    background-color: #4cae4c;
}

.observation-test.failed .result {
    background-color: #B03232;
}


.face, .head, .mouth, .eye-group, .eye-left, .eye-right, .eye {
    position: absolute;
}

.face:before, .head:before, .mouth:before, .eye-group:before, .eye-left:before, .eye-right:before, .eye:before,
.face:after, .head:after, .mouth:after, .eye-group:after, .eye-left:after, .eye-right:after, .eye:after {
    position: absolute;
    content: '';
}

.head {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FBD671;
    box-shadow: inset -10px -10px 0 #f8b90e;
    transition: all .4ms ease-in-out;
    transform: scale(0.8);
}

.face {
    width: 50px;
    height: 57px;
    left: 25px;
    top: 25px;
    transition: inherit;
}

.mouth {
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 0;
    background-color: #20184E;
    border-radius: 3px 3px 50px 50px;
    border: 2px solid #20184E;
    overflow: hidden;
    transition: inherit;
}

.mouth:after {
    width: 33px;
    height: 27px;
    left: 8px;
    top: 10px;
    background-color: #F15962;
    border-radius: 50%;
}

.eye-group {
    top: 3px;
    width: 50px;
    height: 16px;
    transition: inherit;
}

.eye-group .eye {
    background-color: #20184E;
    width: 10px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid #20184E;
    transition: inherit;
}

.eye-group .eye:after {
    width: 3px;
    height: 5px;
    top: 5px;
    background-color: #FBD671;
    border-radius: 50%;
    transition: inherit;
}

.eye-group .eye.eye-left {
    left: 5px;
    transition: inherit;
}

.eye-group .eye.eye-right {
    right: 5px;
    transition: inherit;
}

.head.sad .mouth {
    transform: rotate(180deg);
}

.head.sad .mouth {
    transform: rotate(180deg);
}

.head.sad {
    background: #b22222;
    box-shadow: inset -10px -10px 0 #b22222;
}
